body {
  margin: 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.calendar-container {
  width: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.month-name {
  margin: 0;
  background-color: orangered;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.day-name {
  margin-top: 20px;
  font-size: 20px;
  color: darkgray;
}

.date-number {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.year-name {
  margin: 20px 0;
  font-size: 20px;
  color: darkgray;
  font-weight: 500;
}
